---
apiVersion: v1
kind: ConfigMap
metadata:
  name: app-config-cm
data:
  consul-template.config: |
    vault {
      address = "http://localhost:8200"
      token = "zzzzzzzzzzzz"
      renew_token = false
    }

    template {
      source = "/etc/bare-config/app.yaml.hcl"
      destination = "/etc/rendered-config/app.yaml"
    }
  app.yaml.hcl: |
    ---
    A: B
    B: C
    D: E
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: demo-deployment
  labels:
    app: demo
spec:
  replicas: 1
  selector:
    matchLabels:
      app: demo
  template:
    metadata:
      labels:
        app: demo
    spec:
      volumes:
        - name: configmap-volume
          configMap:
            # Provide the name of the ConfigMap containing the files you want
            # to add to the container
            name: app-config-cm
        - name: rendered-config-volume
          emptyDir: # Store in memory since we will render secrets here
            medium: Memory
      initContainers:
        - name: consul-template
          image: hashicorp/consul-template:0.20.0-light
          imagePullPolicy: IfNotPresent
          command: [ "/bin/sh", "-c", "--" ]
          args: [ "/bin/consul-template -config /etc/bare-config/consul-template.config -once" ]
          volumeMounts:
          - name: configmap-volume
            mountPath: /etc/bare-config
          - name: rendered-config-volume
            mountPath: /etc/rendered-config
      containers:
      - name: demo
        image: ubuntu:latest
        command: [ "/bin/bash", "-c", "--" ]
        args: [ "while true; cat /etc/rendered-config/app.yaml; echo 'still sleepin'; do sleep 30; done;" ]
        volumeMounts:
        - name: rendered-config-volume
          mountPath: /etc/rendered-config/
